.produit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produit-liste {
    flex: 0 0 auto;
    margin-right: 100px; 
}

.produit-liste:last-child {
    margin-right: 0; }

.produit-liste img {
    width: 300px; 
    height: 300px;
}
