.achat-liste {
    position: relative;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.achat-liste img {
    width: 500px; 
    height: 500px; 
    object-fit: cover; 
    margin-top: 50px;
}

.achat-texte {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 1.2rem;
    color: black;
}

.achat strong {
    color: beige;
    font-size: 1.8rem;
}

.achat-texte .prix {
    color: black;
    font-size: 1.8rem;
    font-weight: 700;
}

.achat-texte .quantité {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.achat-texte .quantité input {
    width: 70px;
    height: 40px;
    background-color: #f3f3f3;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 3px;
}

.achat-texte .panier {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: beige;
    color: #af7245db;
    margin-top: 15px;
}
