.produit {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;
    max-width: 1200px;
    width: 90%;
    margin: 15px auto;
}

.produit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.produit-liste:hover img {
    opacity: 0.2; 
    transition: opacity 0.3s; 
    cursor: pointer;
}

.produit-liste {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: auto; 
}

.produit-texte {
    position: absolute;
    top: 0; 
    right: 0; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.produit-texte strong {
    display: block; 
}

.produit-texte span {
    display: block; 
}

