<footer>
    <div class="contact" id="footer_column">
        <a href ="https://fr-fr.facebook.com/" class ="fab fa-facebook-f navlink"></a>
        <a href ="https://twitter.com/" class ="fab fa-twitter navlink"></a>
        <a href ="https://www.instagram.com/" class ="fab fa-instagram navlink"></a>
    </div>
    <div class ="about" id="footer_column">
        <a href="/about" class="navlink">About us</a>
    </div>
</footer>
