<footer>
    <div class ="contact" id="footer_column">
        <a href ="https://fr-fr.facebook.com/" class ="fab fa-facebook-f"></a>
        <a href ="https://twitter.com/" class ="fab fa-twitter"></a>
        <a href ="https://www.instagram.com/" class ="fab fa-instagram"></a>
    </div>
    <div class ="about" id="footer_column">
        <a href="/about">About us</a>
    </div>
</footer>
