<header class ="header"> <a href="" class = "logo"><img src ="/img/logo.jpg" alt="" height= "150"></a>
    <a href="" class = "titre"><img src ="/img/titre.jpg" alt="" height= "150"></a>
    <div>
        <ul id="menu" class="navigation-links">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="./products">Our products</a>
            </li>
            <li>
                <a href="./reviews">Customer reviews</a>
            </li>
            <li>
                <a href="./contact">Contact</a>
            </li>
        </ul>
    </div>
</header>