<header class ="header">
    <a href="" class="logo"><img src ="/img/logo.jpg" alt=""></a>
    <a href="" class="titre"><img src ="/img/titre.jpg" alt=""></a>
    <div>
        <ul id="menu">
            <li class="navitem">
                <a class="navlink"  href="/">Home</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="/products">Our products</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="/reviews">Customer reviews</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</header>