<header class="header">
    <a href="/" class="logo"><img src="/img/logo.jpg" alt=""></a>
    <a href="/" class="titre"><img src="/img/titre.jpg" alt=""></a>
    <div>
        <ul id="menu" class="nav-menu">
            <li class="navitem">
                <a class="navlink" href="/">Home</a>
            </li>
            <li id="products-dropdown" class="navitem">
                <a href="#" class="navlink">Our products</a>
                <ul class="dropdown-menu">
                    <li><a href="/products/man" class="navlink">Man</a></li>
                    <li><a href="/products/woman" class="navlink">Woman</a></li>
                </ul>
            </li>
            <li class="navitem">
                <a class="navlink" href="/review/add">Customer reviews</a>
            </li>
            <li class="navitem">
                <a class="navlink" href="/contact">Contact</a>
            </li>
            <li class="navitem" id="user-item">
                <a class="navlink" href="/login">
                    <i class="fa-solid fa-user"></i>
                </a>
            </li>
            <li class="navitem" id="cart-item">
                <a class="navlink" href="/cart">
                    <i class="fas fa-shopping-cart"></i> 
                </a>
            </li>
        </ul>
    </div>
</header>
