<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Beauty & Co - Produits</title>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel= "stylesheet" href="/css/main.css">
    <link rel= "stylesheet" href="/css/about.css">
</head>
<body>
<%- include('./partials/topbar.ejs')%>
<section>
    <h1> About us! </h1><br>
    <p> This project was carried out by : Paul Zanolin, Léa Varing and Noa Colin</p>
</section>
<%- include('./partials/footer.ejs')%>
</body>
</html>
