<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty & Co - Reviews</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/cart.css">
    <script src="/js/review.js"></script>

</head>
<body>
<%- include("./partials/topbar.ejs") %>

    <h1>Your Shopping Cart</h1>
    
    <table class = "cartTable">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        
            <tr>
                <td>Product 1</td>
                <td><img src="/img/makeup.jpg" alt="Product 1"></td>
                <td class="centered-button"><input type="number" value="1" min="1"></td>
                <td class="centered-button"><button><i class="fa-solid fa-trash"></i></button></td>
            </tr>
            
            <tr>
                <td>Product 2</td>
                <td><img src="/img/makeup1.jpg" alt="Product 2"></td>
                <td class="centered-button"><input type="number" value="1" min="1"></td>
                <td class="centered-button"><button><i class="fa-solid fa-trash"></i></button></td>
            </tr>
        </tbody>
    </table>

<%- include("./partials/footer.ejs") %>
</body>