<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty & Co - Customer Account</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<%- include("./partials/topbar.ejs") %>

<form action="/products/delete/<%= pID %>" method="post" onsubmit="alert('this product has been definitively removed')">
    <input type="submit" name="delete" value="click here if you are sur you want to delete" >
</form>

<%- include("./partials/footer.ejs") %>
</body>
</html>