<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width =device-width, initial-scale=1">
    <title>Beauty & Co - Accueil</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('./partials/topbar.ejs')%>
    <section id="main">

        <div class="main-img">
            <img src="/img/fond-home.jpg" alt="" height="150">
        </div>
        <div class ="main-txt">
            <h1>Discover our online site Beauty & Co</h1>
            <p>Create your routine with our Made in France products. You will find our exclusive formulas, suitable for all skin types for both women and men.</p>
        </div>
    </section>
    <section class='produit'>
        <div class='produit-liste'>
            <img src="/img/makeup.jpg">
            <div class='produit-texte'>
                <strong> Dyed powder</strong>
                <span>Makeup</span>
                <a href="./makeup.html"> Buy </a>
            </div>
        </div>
        <div class='produit-liste'>
            <img src="/img/makeup1.jpg">
            <div class='produit-texte'>
                <strong> Lipstick</strong>
                <span>Makeup</span>
                <a href="./makeup1.html"> Buy </a>
            </div>
        </div>
        <div class='produit-liste'>
            <img src="/img/Homme4.jpg">
            <div class='produit-texte'>
                <strong>hair conditionner for men </strong>
                <span>Beauty</span>
                <a> Buy </a>
            </div>
        </div>
    </section>
    <%- include('./partials/footer') %>
</body>
</html>
