<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty & Co - Products</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/products_W.css">
</head>
<body>
<%- include("./partials/topbar.ejs") %>
<section class='produit'>
    <div class='produit-liste'>
        <a href="/products/woman/1">
            <img src="/img/makeup.jpg">
        </a>
        <div class='produit-texte'>
            <strong> Dyed powder</strong>
            <span>Makeup</span>
          
        </div>
    </div>
    <div class='produit-liste'>
        <a href="/products/woman/1">
            <img src="/img/makeup1.jpg">
        </a>
        <div class='produit-texte'>
            <strong> Lipstick</strong>
            <span>Makeup</span>
             
        </div>
    </div>
    <div class='produit-liste'>
        <a href="/products/woman/1"> 
            <img src="/img/makeup2.jpg">
        </a>
        <div class='produit-texte'>
            <strong>Highlighter</strong>
            <span>Makeup</span>
         
        </div>
    </div>
    <div class='produit-liste'>
        <a href="/products/woman/1"> 
            <img src="/img/makeup3.jpg">
        </a>
        <div class='produit-texte'>
            <strong>Eyebrow pencil</strong>
            <span>Makeup</span>
            
        </div>
    </div>
    <div class='produit-liste'>
        <a href="/products/woman/1"> 
            <img src="/img/makeup4.jpg">
        </a>
        <div class='produit-texte'>
            <strong>Mascara</strong>
            <span>Makeup</span>
        </div>
    </div>
    <div class='produit-liste'>
        <a href="/products/woman/1">
            <img src="/img/makeup5.jpg" alt="Image Gloss">
        </a>
        <div class='produit-texte'>
            <strong>Gloss</strong>
            <span>Makeup</span>
        </div>
    </div>    
    </div>
</section>
<%- include("./partials/footer.ejs") %>
</body>
</html>
