<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Beauty & Co - Products</title>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel= "stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include ("./partials/topbar.ejs")%>
        <section class = 'produit'>
            <div class = 'produit-liste'>
                <img src="/img/Homme.jpg">
                <div class ='produit-texte'>
                    <strong> Solar cream</strong>
                    <span>Beauty</span>
                    <a href="/products/man/1"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="/img/Homme1.jpg">
                <div class ='produit-texte'>
                    <strong> Hand cream</strong>
                    <span>Beauty</span>
                    <a href="/products/man/1"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="/img/Homme2.jpg">
                <div class ='produit-texte'>
                    <strong>Shave gel + face wash</strong>
                    <span>Beauty</span>
                    <a href="/products/man/1"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="/img/Homme3.jpg">
                <div class ='produit-texte'>
                    <strong>Shampoo</strong>
                    <span>Beauty</span>
                    <a href="/products/man/1"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="/img/Homme4.jpg">
                <div class ='produit-texte'>
                    <strong>Hair Conditioner</strong>
                    <span>Beauty</span>
                    <a href="/products/man/1"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="/img/Homme5.jpg">
                <div class ='produit-texte'>
                    <strong>Peel- of Mask</strong>
                    <span>Beauty</span>
                    <a href="/products/man/1"> Buy </a>
                </div>
            </div>
        </section>
        <%- include ("./partials/footer.ejs")%>

    </body>

</html>
