<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Beauty & Co - Products</title>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel= "stylesheet" href="/css/main.css">
    </head>
    <body>
        <%- include ("./partials/topbar.ejs")%>
        <section class = 'produit'>
            <div class = 'produit-liste'>
                <img src="../img/makeup.jpg">
                <div class ='produit-texte'>
                    <strong> Dyed powder</strong>
                    <span>Makeup</span>
                    <a href="./makeup.html"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="../img/makeup1.jpg">
                <div class ='produit-texte'>
                    <strong> Lipstick</strong>
                    <span>Makeup</span>
                    <a href="makeup1.html"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="../img/makeup2.jpg">
                <div class ='produit-texte'>
                    <strong>Highlighter</strong>
                    <span>Makeup</span>
                    <a href="./makeup2.html"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="../img/makeup3.jpg">
                <div class ='produit-texte'>
                    <strong>Eyebrow pencil</strong>
                    <span>Makeup</span>
                    <a href="./makeup3.html"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="../img/makeup4.jpg">
                <div class ='produit-texte'>
                    <strong>Mascara</strong>
                    <span>Makeup</span>
                    <a href="./makeup4.html"> Buy </a>
                </div>
            </div>
            <div class = 'produit-liste'>
                <img src="../img/makeup5.jpg">
                <div class ='produit-texte'>
                    <strong>Gloss</strong>
                    <span>Makeup</span>
                    <a href="./makeup5.html"> Buy </a>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%- include ("./partials/footer.ejs")%>

    </body>

</html>
