
<table class="reviewTable" id="table_id">
    <thead>
    <tr>
            <th>Products ordered</th>
            <th>Date of order</th>
            <th>Delivery</th>
            <th>Quality</th>
            <th>Customer service</th>
            <th>Speed</th>
            <th>Comment</th>
        </tr>
        </thead>

    </table>

