<!DOCTYPE html>
<html lang="en">
<head>
    <title>Beauty & Co - Customer Account</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
</head>
<body>
<%- include("./partials/topbar.ejs") %>

<div class="container">
    <h1>Login</h1>
    <form action="/login" method="post">
        <input type="text" id="Email" name="Email" required placeholder="E-mail">
        <input type="password" id="password" name="password" required placeholder="Password">
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account yet?</p>
        <a href="/create-account">Create an account</a>
    <p>You are an administrator?</p>
        <a href="/admin">Admin account</a>

</div>

<%- include("./partials/footer.ejs") %>
</body>
</html>
